@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--card-padding: theme('spacing[6]');
		--accordion-padding: theme('spacing[4]');
		--feedback-padding: var(--card-padding);
		--toast-padding: theme('spacing[4]');
		--display-text-color: theme(colors.gray.950);
		--title-text-color: var(--display-text-color);
		--caption-text-color: theme(colors.gray.500);
		--body-text-color: theme(colors.gray.700);
		--placeholder-text-color: theme(colors.gray.400);
	}
	.dark {
		--display-text-color: theme(colors.white);
		--title-text-color: var(--display-text-color);
		--caption-text-color: theme(colors.gray.500);
		--body-text-color: theme(colors.gray.300);
		--placeholder-text-color: theme(colors.gray.600);
		--ui-bg: theme(colors.gray.800);
		--ui-border-color: theme(colors.gray.700);
		--input-bg: theme(colors.gray.700);
		--input-border-color: theme(colors.gray.600);
	}
}
body {
	@font-face {
		font-family: 'Geist';
		src: local('Geist'),
			url('/fonts/Geist-1.3.0/Geist-1.3.0/variable-woff/GeistVF.woff'),
			url('/fonts/Geist-1.3.0/Geist-1.3.0/variable-woff/GeistVF.woff2');
	}

	font-family: 'Geist', sans-serif;
}
